# Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/ankitsharma/Documents/Documents/Stuff/Machine Learning/Kaggle/data visualization/parks.csv", index_col = ['Park Code'])

In [4]:
df

,Park Name,State,Acres,Latitude,Longitude
Park Code,,,,,
ACAD,Acadia National Park,ME,47390,44.35,-68.21
ARCH,Arches National Park,UT,76519,38.68,-109.57
BADL,Badlands National Park,SD,242756,43.75,-102.50
BIBE,Big Bend National Park,TX,801163,29.25,-103.25
BISC,Biscayne National Park,FL,172924,25.65,-80.08
BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
CANY,Canyonlands National Park,UT,337598,38.20,-109.93
CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44
CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
CONG,Congaree National Park,SC,26546,33.78,-80.78
CRLA,Crater Lake National Park,OR,183224,42.94,-122.10
CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55
DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
EVER,Everglades National Park,FL,1508538,25.32,-80.93
GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
GLAC,Glacier National Park,MT,1013572,48.80,-114.00
GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00
GRBA,Great Basin National Park,NV,77180,38.98,-114.30
GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
GRSA,Great Sand Dunes National Park and Preserve,CO,42984,37.73,-105.51
GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53
GRTE,Grand Teton National Park,WY,309995,43.73,-110.80
GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87
HALE,Haleakala National Park,HI,29094,20.72,-156.17
HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20
HOSP,Hot Springs National Park,AR,5550,34.51,-93.05
ISRO,Isle Royale National Park,MI,571790,48.10,-88.55
JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00
KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65
KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10
MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49
MORA,Mount Rainier National Park,WA,235625,46.85,-121.75
NOCA,North Cascades National Park,WA,504781,48.70,-121.20
OLYM,Olympic National Park,WA,922651,47.97,-123.50
PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
PINN,Pinnacles National Park,CA,26606,36.48,-121.16
REDW,Redwood National Park,CA,112512,41.30,-124.00
ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58
SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68
SHEN,Shenandoah National Park,VA,199045,38.53,-78.35
THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45
VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
WICA,Wind Cave National Park,SD,28295,43.57,-103.48
WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
YOSE,Yosemite National Park,CA,761266,37.83,-119.50
ZION,Zion National Park,UT,146598,37.30,-113.05

In [5]:
df.head(3) #return the elements from top 3

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [6]:
df.tail(3) #bottom 3

                           Park Name       State    Acres  Latitude  Longitude
Park Code
YELL       Yellowstone National Park  WY, MT, ID  2219791     44.60    -110.50
YOSE          Yosemite National Park          CA   761266     37.83    -119.50
ZION              Zion National Park          UT   146598     37.30    -113.05

# Indexing: Single Rows

By using **iloc** and **loc** we can find what is there at that index

In [7]:
df.iloc[2]

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [8]:
df.loc['BADL']

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

## Indexing: Multiple Rows

In [9]:
df.loc[['BADL', 'ARCH', 'ACAD']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [10]:
df.iloc[[2, 1, 0]]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

#### Slicing the dataframe

In [11]:
df[:3]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [12]:
df[2:6]

,Park Name,State,Acres,Latitude,Longitude
Park Code,,,,,
BADL,Badlands National Park,SD,242756,43.75,-102.50
BIBE,Big Bend National Park,TX,801163,29.25,-103.25
BISC,Biscayne National Park,FL,172924,25.65,-80.08
BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72

## Indexing: Columns

In [13]:
df['State'].head(3)

Park Code
ACAD    ME
ARCH    UT
BADL    SD
Name: State, dtype: object

In [14]:
df.State.head(3)

Park Code
ACAD    ME
ARCH    UT
BADL    SD
Name: State, dtype: object

In [15]:
df.Park Code.head(3) ##Produces error as there is space between Park and Code

SyntaxError: invalid syntax (<ipython-input-15-187c85c69ef9>, line 1)

We can only access coulmn name with spaces as df['Name']. 
To simplify this situation we change the name of all columns to lower case names without any spaces..

In [16]:
df.columns = [col.replace(' ', '_').lower() for col in df.columns]

print(df.columns)

Index(['park_name', 'state', 'acres', 'latitude', 'longitude'], dtype='object')

In [17]:
df.park_name.head(3)

Park Code
ACAD      Acadia National Park
ARCH      Arches National Park
BADL    Badlands National Park
Name: park_name, dtype: object

## Indexing: Column and Rows

In [18]:
df[['state', 'acres']][:3]

          state   acres
Park Code
ACAD         ME   47390
ARCH         UT   76519
BADL         SD  242756

## Indexing: Scalar Values

In [19]:
df.state.iloc[2]

'SD'

In [20]:
#Different return type if we pass a single value in a list

df.state.iloc[[2]]

Park Code
BADL    SD
Name: state, dtype: object

## Selecting a subset of data
The main method of subsetting data in Pandas is knows as [Boolean Indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing).

In [21]:
(df.state == 'UT').head(3) #If state is UT then True else False

Park Code
ACAD    False
ARCH     True
BADL    False
Name: state, dtype: bool

In [22]:
df[df.state == 'UT']

                            park_name state   acres  latitude  longitude
Park Code
ARCH             Arches National Park    UT   76519     38.68    -109.57
BRCA       Bryce Canyon National Park    UT   35835     37.57    -112.18
CANY        Canyonlands National Park    UT  337598     38.20    -109.93
CARE       Capitol Reef National Park    UT  241904     38.20    -111.17
ZION               Zion National Park    UT  146598     37.30    -113.05

### Some of the logical operators are different

* **~** replaces not
* **|**  replaces or
* **&** replaces and

If we have multiple arguments they'll need to be wrapped in the parenthesis properly.

In [23]:
df[(df.latitude > 60) | (df.acres > 10**6)].head(3)

,park_name,state,acres,latitude,longitude
Park Code,,,,,
DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
EVER,Everglades National Park,FL,1508538,25.32,-80.93

We can also do more